@import './partials/color';
// @import './partials/fonts';
@import './partials/normalize';
@import './partials/reset';
@import './partials/mixin';
@import './partials/grid';
@import './partials/base';
// @import './partials/header';
// @import './partials/navigation';
// @import './partials/main';
// @import './partials/footer';