$color-mood: #435353;
$color-haha: #6f8b78;
$color-happy: #e4d49e;
$color-soso: #e5e6d6;
$color-sad: #4d8696;
$color-surprised: #c96466;
$color-angry: #5f1a2b;
$color-black: #2d2d2d;
$color-white: #fff;
$color-gray: #808080;