@font-face {
    font-family: 'webcafeIcon';
    font-weight:400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
         url('font/webcafeIcon.woff') format('woff'),
         url('font/webcafeIcon.ttf') format('truetype'),
         url('font/webcafeIcon.svg#webcaferegular') format('svg');
}
@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('font/eot/NotoSansKR-Regular-Hestia.eot'),
    url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('font/eot/NotoSansKR-Bold-Hestia.eot'),
    url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}