/* Icons from directory "" */
.icon-emoji-01,.icon-emoji-01\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-emoji-01-dims{width:62px;height:49px}
.icon-emoji-02,.icon-emoji-02\:regular{background-image:url('icons/icons.svg');background-position:0 -49px;background-repeat:no-repeat}
.icon-emoji-02-dims{width:58px;height:47px}
.icon-emoji-03,.icon-emoji-03\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-emoji-03-dims{width:69px;height:40px}
.icon-emoji-04,.icon-emoji-04\:regular{background-image:url('icons/icons.svg');background-position:0 -136px;background-repeat:no-repeat}
.icon-emoji-04-dims{width:55px;height:50px}
.icon-emoji-05,.icon-emoji-05\:regular{background-image:url('icons/icons.svg');background-position:0 -186px;background-repeat:no-repeat}
.icon-emoji-05-dims{width:45px;height:31px}
.icon-emoji-06,.icon-emoji-06\:regular{background-image:url('icons/icons.svg');background-position:0 -217px;background-repeat:no-repeat}
.icon-emoji-06-dims{width:59px;height:36px}